<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}} 
        <img class="portrait" src="/img/me.jpg">
        <p>
            <b>Github Profile </b>:- https://github.com/decipher07 <br><br>
            This Site is Created By <b>DJ</b> . This data is collected from mapbox.com and darksky.net !
        </p>
    </div>
    {{>footer}}
</body>
</html>